# xmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
Testing
/out

# xmake
/.xmake

# macos
.DS_Store
stressTest

# compile commands
compile_commands.json
.cache

# python
*.pyc

# build dirs
/.sb
/.build
/.pkgs

# build dirs
/build
/build-vs
/build-wasm
/build-wasi

# visual studio
/.vs

# vscode plugins
/.VSCodeCounter

# xcode
/xcode

# shell files
*.cmd
*.bat
*.ps1
*.sh

# engine
/engine

# d6 files
/modules/d6/d6_render/shader/build
/xmake/config.lua

# SDKs
# TODO. remove it
/SDKs/x64
/SDKs/grpc
/SDKs/reflector-win
/SDKs/tools
/SDKs/libs
/SDKs/python
/SDKs/*.zip
/SDKs/*.ttf
/SDKs/manifest.json

# TODO. remove it
/thirdparty/*.zip
scenes
/vcpkg_installed
/vsxmake
/vsxmake*
.history
xmake.log
-.json

*.vcxproj
*.vcxproj.filters